# Ignore everything but 'files' and 'options' directories in solver
applications/solver/bwRSE4HPCFoam/Make/*/

# Ignore everything but 'files' and 'options' directories in combustionModels
src/combustionModels/Make/*/
src/combustionModels/lnInclude/

# Ignore tutorial results and log files
tutorials/**/log.*
tutorials/**/dynamicCode/
tutorials/D3TransCube/0/
tutorials/D3TransCube/benchmark-results/
tutorials/D3TransCube/constant/polyMesh/
tutorials/D3TransCube/constant/*_table
tutorials/D3TransCube/processor*/
tutorials/D3TransCube/tables/
tutorials/D4PassiveScalarTransport/0/
tutorials/D4PassiveScalarTransport/1/
tutorials/D4PassiveScalarTransport/2/
tutorials/D4PassiveScalarTransport/3/
tutorials/D4PassiveScalarTransport/4/
tutorials/D4PassiveScalarTransport/5/
tutorials/D4PassiveScalarTransport/benchmark-results/
tutorials/D4PassiveScalarTransport/constant/polyMesh/
tutorials/D4PassiveScalarTransport/constant/*_table
tutorials/D4PassiveScalarTransport/tables/



# ndtbl binary files
*.ndtbl

# Ignore heaptrack output files
*.zst

# OpenFoam case files
*.foam
