applications/solver/bwRSE4HPCFoam/Make/*/

src/combustionModels/Make/*/
src/combustionModels/lnInclude/

tutorials/D4DummySetup/0/
tutorials/D4DummySetup/1/
tutorials/D4DummySetup/benchmark-results/
tutorials/D4DummySetup/tables/
tutorials/D4DummySetup/constant/polyMesh/
tutorials/D4DummySetup/constant/*_table
tutorials/**/log.*

# ndtbl binary files
*.ndtbl
